.footer-img{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    padding: 10px;
}
.btn-country{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
.one-img{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-decoration: none;
    
}
.one-country{
    border-radius: 5px;
}
.btn-country h4{
    color: grey;
}
.btn-open{
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    background: #3d83df;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: .2em;
    color: #fff;
    font-weight: 800;
    font-size: 10px;
    text-align: center;
    padding: .1em 3em;
}
.one-img:hover{
  box-shadow: 0 0 10px 5px rgb(224, 223, 223);  
  border-radius: 5px;
}